name: MLflow CI - Retrain and Publish

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  retrain:
    runs-on: ubuntu-latest
    env:
      MLFLOW_TRACKING_URI: ${{ github.workspace }}/MLProject/mlruns

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install mlflow pandas numpy scikit-learn matplotlib

      - name: Retrain model via MLflow Project
        working-directory: MLProject
        run: |
          mlflow run . --env-manager=local

      - name: Upload MLflow artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: |
           ${{ env.MLFLOW_TRACKING_URI }}/*/*/artifacts/**
           MLProject/model.pkl
